<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PoemRN.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C1B39C1B815AFC0F05B65207D87987C7E7CBCE78</string>
				<key>dateExpires</key>
				<string>2018/11/16</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1B39C1B815AFC0F05B65207D87987C7E7CBCE78</string>
						<key>dateExpires</key>
						<string>2018/11/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>QBImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZERU4NU5ED</string>
						<key>name</key>
						<string>bingbing shen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C1B39C1B815AFC0F05B65207D87987C7E7CBCE78</string>
						<key>dateExpires</key>
						<string>2018/11/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RSKImageCropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZERU4NU5ED</string>
						<key>name</key>
						<string>bingbing shen</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZERU4NU5ED.com.sbb.poem</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ZERU4NU5ED</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>PoemRN.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6c10394b-cd59-413f-a824-91359acc76c8</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.sbb.poem</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZERU4NU5ED</string>
				<key>name</key>
				<string>bingbing shen</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
