<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PoemRN.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8D30E92E0DAE86EB8BC8FC0E86E42AAA851CE165</string>
				<key>dateExpires</key>
				<string>2017/12/22</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D30E92E0DAE86EB8BC8FC0E86E42AAA851CE165</string>
						<key>dateExpires</key>
						<string>2017/12/22</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>QBImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZERU4NU5ED</string>
						<key>name</key>
						<string>bingbing shen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D30E92E0DAE86EB8BC8FC0E86E42AAA851CE165</string>
						<key>dateExpires</key>
						<string>2017/12/22</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RSKImageCropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZERU4NU5ED</string>
						<key>name</key>
						<string>bingbing shen</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZERU4NU5ED.com.sbb.poem</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ZERU4NU5ED</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>ZERU4NU5ED.com.sbb.poem</string>
				</array>
			</dict>
			<key>name</key>
			<string>PoemRN.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4eccf62e-6ca9-44cc-9103-ea9bd7d5a8c5</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZERU4NU5ED</string>
				<key>name</key>
				<string>bingbing shen</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
